<div class="main-container">
  <header class="header header-6">
    <div style="margin-left: 20px">
      <a href="https://www.serensia.com/fr/">
        <img width="60" alt="Serensia Logo" src="assets/logo-serensia.png" />
      </a>
      <strong> Test Technique</strong>
    </div>
    <a
      style="margin-right: 20px; color: #fff"
      href="https://adel-boushih.vercel.app/"
    >
      <strong style="margin-right: 10px"> Adel Boushih</strong>
      <!--<mat-icon>open_in_new</mat-icon>-->
    </a>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row clr-justify-content-center">
        <div class="clr-col-lg-10 clr-col-10">
          <div class="card">
            <div class="card-block">
              <div class="card-text">
                <div class="image-header" style="text-align: center">
                  <a href="https://adel-boushih.vercel.app/">
                    <img src="/assets/adel.PNG" class="avatar" />
                  </a>
                  <span class="seperator"></span>
                  <a href="https://www.serensia.com/fr/">
                    <img src="/assets/logo-serensia-full.png" class="avatar" />
                  </a>
                </div>
                <div class="description">
                  <p>
                    Bonjour! Ce test est réalisé par
                    <span class="badge orange">Adel Boushih</span> dans le cadre
                    d'un test technique proposé par
                    <span class="badge">Serensia</span>. Vous pouvez consulter
                    mon portfolio en ligne à travers ce
                    <a href="https://adel-boushih.vercel.app/">Lien</a>.
                    Veuillez fournir les données nécessaires:
                  </p>
                </div>
                <div class="test1">
                  <test1></test1>
                  <test2></test2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
